*
{
font-family: 'Karma', serif !important;
color: white;
margin: 0;
padding: 0;
}

/*@font-face {
  font-family: "GildaDisplay";
  src: url("components/Gilda_Display/GildaDisplay-regular.ttf") format("truetype");
}*/

body {
background: #121212 !important;
}

h1, h2, h3, h4 {
	font-weight: lighter;
}

h3 {
	font-size: 1.1em;
}

.NavBar {
	padding-top: 1%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	gap: 30px;
}

.dot {
  height: 70vh;
  width: 70vh;
  background-color: #457B9D;
  border-radius: 50%;
  position: relative;
/*  top: 50%;
  left: 50%;*/
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content-wrapper {
	width: 80%;
	margin: 4% 10% 5% 10%;
}

.content-wrapper img {
	width: 100%;
}

.banner {
position: relative;
width: 90%;
margin: 0 auto;
}

.banner img {
	width: 100%;
}

.heading {
	font-weight: 600;
	font-size: 96px;
	line-height: 96px;
	position: absolute;
	text-align: center;
	z-index: 1;
 transform: translate(-2vw, -68vh);
}

/* Taken from https://www.thewebblinders.in/programming/article/the-right-way-of-doing-css-full-screen-landing-page-with-centered-content-6030 */
.landingPage {
	margin: 0 auto 0 auto;
	width: 100%;
	height: 100vh;
  min-height: 100vh;	
	background: url("components/bg-circle.png");
	background-repeat: no-repeat;
	background-size: cover;
	/* For centering content */
/*	display: flex;
*//*	align-items: center;
	justify-content: center;
*/}

.frontImg{
 height: 90vh;
 width: 22vw;
 object-fit: cover;
 transform: translate(33vw, 3.5vh);
  object-position: 33% 0;
/* object-position: 25% 0;
*/ z-index: -1;
}

.vertical {
  border-left: 3px solid white;
  height: 150px;
  position:relative;
  bottom: 0%;
  left: 84%;
}

.vertical2 {
  border-left: 3px solid white;
  height: 300px;
  position:relative;
  bottom: 0%;
  left: 86%;
}

.vertical3 {
  border-left: 3px solid white;
  height: 225px;
  position:relative;
  bottom: 0%;
  left: 88%;
}

.vertical4 {
  border-left: 3px solid white;
  height: 150px;
  position:relative;
  top: 0%;
  right: 90%;
}

.vertical5 {
  border-left: 3px solid white;
  height: 300px;
  position:relative;
  top: 0%;
  right: 92%;
}

.vertical6 {
  border-left: 3px solid white;
  height: 225px;
  position:relative;
  top: 0%;
  right: 94%;
}

.containerNews {
	position: absolute;
	padding-top: 3%;
	top: 15%;
	left: 65%;
/*	background-color: red;
*/}

.news {
	line-height: 10vh;
/*	background-color: red;
*/}

.news {
	color: red;
	font-size: 24px;
}

.news:hover {
	background-color: #457B9D;
	border-radius: 7px;
}

.circleBg {
    width:700px;
    height:700px;
    border-radius:500px;
    font-size:20px;
    line-height:100px;
    text-align:center;
    background: #457B9D;
    position: absolute;
    top: 10%;
    left: 10%;
}

.NavBarChild {
	padding-top: 0.2em;
	padding-left: 2em;
	padding-right: 2em;
}

.NavBarChild:hover {
	background-color: #457B9D;
	border-radius: 7px;
}

.footer {
   position: absolute;
   bottom: 0px;
}

.mainPage {
	width: 100%;
	height: 100%;
	padding-bottom: 5em;
}

.signUpButton {
	background-color: #E63946;
	padding: 7px 7px 7px 7px;
	border-radius: 7px;
	border-style: none;
}

.logo {
	height: 5em;
	padding-top: 0em !important;
	position: absolute;
	top: 1%;
	left: 1%;
}

.socialMedia {
	width: 27px;
	height: auto;
}

.socialMedia2 {
	width: 13px;
	height: auto;
}

.arrowContainer {
    display: flex;
}

.arrow {
	position: absolute;
	right: 0%;
}

@media (max-width: 1500px) {
#hamburger-menu {
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    padding: 0px;
    margin: 20px;
    background: linear-gradient(
      to bottom, 
      white, white 20%, 
      #121212 20%, #121212 40%, 
      white 40%, white 60%, 
      #121212 60%, #121212 80%, 
      white 80%, white 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #3D0E61;
    padding: 0px 10px;
    box-sizing: border-box;
}
}

@media (max-width: 5000px) {
#hamburger-menu {
	visibility: hidden;
}
}

.frontPage {
	display: block;
}